@import url("markdown.css");

#error-message {
  background-color: #ee0000;
  color: #ffffff;
}

div.button-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.button-area > * {
  display: block;
  width: 80%;
  margin: 5px auto;
}

.child-width-max > * {
  display: block;
  width: 100%;
}
